@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.about {
  display: grid;
  grid-template-rows: repeat(25, $mobile-s-grid);

  @include mobile-m {
    grid-template-rows: repeat(22, $mobile-m-grid);
  }

  @include mobile-l {
    grid-template-rows: repeat(22, $mobile-l-grid);
  }

  @include tablet {
    grid-template-rows: repeat(21, $tablet-grid);
    padding-left: $tablet-grid;
  }

  @include laptop {
    grid-template-rows: repeat(18, $laptop-grid);
    padding-left: $laptop-grid;
  }

  @include laptop {
    grid-template-rows: repeat(16, $laptop-grid);
  }

  &__content {
    @include text-box;
    padding: 0 0.55rem;
    grid-row-start: 1;
    grid-row-end: 18;

    @include mobile-m {
      grid-row-end: 15;
    }

    @include tablet {
      padding: 0 0.75rem;
    }

    @include laptop {
      grid-row-end: 12;
    }

    @include desktop {
      grid-row-end: 10;
    }
  }
}
