@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.carousel {
  display: grid;
  grid-row-start: 4;
  grid-row-end: 7;
  grid-column-start: 1;
  grid-column-end: 16;
  padding-left: 100%;

  @include tablet {
    grid-row-end: 6;
    grid-column-end: 14;
  }

  @include laptop {
    grid-column-end: 18;
  }

  @include desktop {
    grid-column-end: 24;
  }

  &__wrapper {
    display: grid;
    padding-right: 100%;
    grid-template-columns: repeat(22, 60px);
    animation: 8s linear infinite slidein;

    @include mobile-m {
      grid-template-columns: repeat(22, 66px);
    }

    @include mobile-l {
      grid-template-columns: repeat(22, 75px);
    }

    @include tablet {
      grid-template-columns: repeat(24, 64px);
    }

    @include laptop {
      grid-template-columns: repeat(26, 72px);
    }

    @include desktop {
      grid-template-columns: repeat(29, 72px);
    }
  }

  &__item {
    margin: 0.25rem;
    aspect-ratio: 1/1;
    height: 52px;

    @include mobile-m {
      height: 58px;
    }

    @include mobile-l {
      height: 67px;
    }

    @include tablet {
      height: 56px;
    }

    @include laptop {
      height: 64px;
    }
  }
}

@keyframes slidein {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}
