@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.project {
  @include text-box;
  grid-template-rows: repeat(21, $mobile-s-grid);
  grid-template-columns: repeat(14, $mobile-s-grid);

  grid-column-start: 1;
  grid-column-end: 16;
  grid-row-start: 1;
  grid-row-end: 22;
  padding: 0 0.55rem;

  &__title,
  &__description,
  &__links,
  &__gallery {
    grid-column-start: 1;
    grid-column-end: 15;
  }

  &__title,
  &__description {
    @include text-box;
    border: none;
  }

  &__description {
    grid-row-start: 3;
    grid-row-end: 8;
  }

  &__links {
    display: grid;
    grid-row-start: 8;
    grid-row-end: 11;
    grid-template-rows: repeat(3, $mobile-s-grid);
    grid-template-columns: repeat(14, $mobile-s-grid);
  }

  &__link {
    display: grid;
    justify-items: center;
    grid-row-start: 1;
    grid-row-end: 4;

    &--web {
      grid-column-start: 2;
      grid-column-end: 4;
    }

    &--client {
      grid-column-start: 7;
      grid-column-end: 9;
    }

    &--server {
      grid-column-start: 12;
      grid-column-end: 14;
    }
  }

  &__link-icon {
    margin: 0.25rem;
    aspect-ratio: 1/1;
    height: calc($mobile-s-grid * 2 - 0.5rem);

    @include mobile-m {
      height: calc($mobile-m-grid * 2 - 0.5rem);
    }

    @include mobile-l {
      height: calc($mobile-l-grid * 2 - 0.5rem);
    }

    @include tablet {
      height: calc($tablet-grid * 2 - 0.5rem);
    }

    @include laptop {
      height: calc($laptop-grid * 2 - 0.5rem);
    }
  }

  &__gallery {
    display: grid;
    justify-content: center;
    grid-row-start: 11;
    grid-row-end: 21;
  }

  &__img {
    height: calc($mobile-s-grid * 7);
  }

  &__buttons {
    // display: grid;
    // grid-column: 1;
  }
}
