@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.project {
  @include text-box;
  height: 92%;
  display: grid;
  margin-bottom: $mobile-s-grid;
  grid-template-rows: repeat(12, calc($mobile-s-grid / 2));

  @include mobile-m {
    margin-bottom: $mobile-m-grid;
    height: calc($mobile-m-grid * 6);
    grid-template-rows: repeat(12, calc($mobile-m-grid / 2));
  }

  @include mobile-l {
    margin-bottom: $mobile-l-grid;
    height: calc($mobile-l-grid * 6);
    grid-template-rows: repeat(12, calc($mobile-l-grid / 2));
  }

  @include tablet {
    margin-bottom: $tablet-grid;
    height: calc($tablet-grid * 6);
    grid-template-rows: repeat(12, calc($tablet-grid / 2));
  }

  @include laptop {
    margin-bottom: $laptop-grid;
    height: calc($laptop-grid * 6);
    grid-template-rows: repeat(12, calc($laptop-grid / 2));
  }

  &__link,
  &__description {
    padding: 0 0.55rem;
  }

  &__link {
    grid-row-start: 1;
    grid-row-end: 4;
  }

  &__description {
    border-top: none;
    grid-row-start: 4;
    grid-row-end: 13;
  }
}
