@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.project {
  @include text-box;
  grid-template-rows: repeat(44, calc($mobile-s-grid/2));
  grid-template-columns: repeat(14, auto);
  grid-column-start: 1;
  grid-column-end: 16;
  grid-row-start: 1;
  grid-row-end: 23;
  padding: 0 0.55rem;
  justify-content: center;

  @include mobile-m {
    grid-template-rows: repeat(42, calc($mobile-m-grid / 2));
    grid-row-end: 22;
  }

  @include mobile-l {
    grid-template-rows: repeat(38, calc($mobile-l-grid / 2));
    grid-column-end: 17;
    grid-row-end: 20;
    padding: 0 0.75rem;
  }

  @include tablet {
    grid-template-rows: repeat(36, calc($tablet-grid / 2));
    grid-template-columns: repeat(12, auto);
    grid-row-end: 19;
  }

  @include laptop {
    grid-template-rows: repeat(36, calc($laptop-grid / 2));
    grid-column-end: 18;
  }

  &__title,
  &__description,
  &__links,
  &__gallery {
    grid-column-start: 1;
    grid-column-end: 15;

    @include mobile-l {
      grid-column-end: 16;
    }

    @include tablet {
      grid-column-end: 14;
    }
  }

  &__title,
  &__description {
    @include text-box;
    border: none;

    @include mobile-l {
      border-right: none;
    }
  }

  &__title {
    grid-row-start: 1;
    grid-row-end: 4;
  }

  &__description {
    grid-row-start: 4;
    grid-row-end: 15;

    @include mobile-m {
      grid-row-end: 12;
    }

    @include tablet {
      grid-row-end: 11;
    }
  }

  &__links {
    display: grid;
    justify-self: center;
    grid-row-start: 15;
    grid-row-end: 21;
    grid-template-rows: repeat(3, $mobile-s-grid);
    grid-template-columns: repeat(14, $mobile-s-grid);

    @include mobile-m {
      grid-row-start: 12;
      grid-row-end: 18;
      grid-template-rows: repeat(3, $mobile-m-grid);
      grid-template-columns: repeat(14, $mobile-m-grid);
    }

    @include mobile-l {
      grid-template-rows: repeat(3, $mobile-l-grid);
      grid-template-columns: repeat(14, $mobile-l-grid);
    }

    @include tablet {
      grid-row-start: 11;
      grid-row-end: 16;
      grid-template-rows: repeat(5, calc($tablet-grid / 2));
      grid-template-columns: repeat(12, $tablet-grid);
    }

    @include laptop {
      grid-template-rows: repeat(5, calc($laptop-grid / 2));
    }
  }

  &__link {
    display: grid;
    justify-items: center;
    grid-row-start: 1;
    grid-row-end: 4;

    &--web {
      grid-column-start: 2;
      grid-column-end: 4;
    }

    &--client {
      grid-column-start: 7;
      grid-column-end: 9;

      @include tablet {
        grid-column-start: 6;
        grid-column-end: 8;
      }
    }

    &--server {
      grid-column-start: 12;
      grid-column-end: 14;

      @include tablet {
        grid-column-start: 10;
        grid-column-end: 12;
      }
    }

    @include tablet {
      grid-row-start: 1;
      grid-row-end: 3;
    }
  }

  &__link-icon {
    margin: 0.25rem;
    aspect-ratio: 1/1;
    height: calc($mobile-s-grid * 2 - 0.5rem);

    @include mobile-m {
      height: calc($mobile-m-grid * 2 - 0.5rem);
    }

    @include mobile-l {
      height: calc($mobile-l-grid * 2 - 0.5rem);
    }

    @include tablet {
      height: calc($tablet-grid * 3 / 2 - 0.5rem);
    }

    @include laptop {
      height: calc($laptop-grid * 3 / 2 - 0.5rem);
    }
  }

  &__gallery {
    display: grid;
    grid-template-rows: repeat(23, calc($mobile-s-grid / 2));
    grid-template-columns: 100%;
    justify-items: center;
    align-items: center;
    grid-row-start: 22;
    grid-row-end: 44;

    @include mobile-m {
      grid-row-start: 18;
      grid-row-end: 42;
      grid-template-rows: repeat(25, calc($mobile-m-grid / 2));
    }

    @include mobile-l {
      grid-row-start: 18;
      grid-row-end: 38;
      grid-template-rows: repeat(23, calc($mobile-m-grid / 2));
    }

    @include tablet {
      grid-row-start: 16;
      grid-row-end: 37;
      grid-template-rows: repeat(18, calc($tablet-grid / 2));
    }

    @include laptop {
      grid-template-rows: repeat(20, calc($laptop-grid / 2));
    }
  }

  &__img {
    max-width: 100%;
    max-height: 100%;
    grid-row-start: 1;
    grid-row-end: 21;

    @include mobile-m {
      grid-row-start: 2;
      grid-row-end: 23;
    }

    @include mobile-l {
      grid-row-end: 22;
    }

    @include tablet {
      grid-row-start: 1;
      grid-row-end: 18;
    }
  }

  &__buttons {
    grid-row-start: 22;

    @include mobile-m {
      grid-row: 24;
    }

    @include mobile-l {
      grid-row: 23;
    }

    @include laptop {
      grid-row: 19;
    }
  }
}
