@use "./variables" as *;
@use "./mixins" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(to right, $grid-line 1px, transparent 1px),
    linear-gradient(to bottom, $grid-line 1px, transparent 1px);
  background-position-x: center;
  background-color: $primary-background;

  background-size: $mobile-s-grid $mobile-s-grid;

  @include mobile-m {
    background-size: $mobile-m-grid $mobile-m-grid;
  }

  @include mobile-l {
    background-size: $mobile-l-grid $mobile-l-grid;
  }

  @include tablet {
    background-size: $tablet-grid $tablet-grid;
  }

  @include laptop {
    background-size: $laptop-grid $laptop-grid;
  }
}

.app {
  display: grid;
  max-width: calc($mobile-s-grid * 15);
  margin: $mobile-s-grid auto;

  @include mobile-m {
    max-width: calc($mobile-m-grid * 15);
    margin: $mobile-m-grid auto;
  }

  @include mobile-l {
    max-width: calc($mobile-l-grid * 20);
    margin: $mobile-l-grid auto;
    padding: 0 $mobile-l-grid;
  }

  @include tablet {
    max-width: calc($tablet-grid * 23);
    margin: $tablet-grid auto;
    padding: 0;
    grid-template-columns: calc($tablet-grid * 9) auto;
  }

  @include laptop {
    max-width: $laptop;
    margin: $laptop-grid auto;
    padding: 0 1.6rem;
    grid-template-columns: calc($laptop-grid * 9) auto;
  }

  @include desktop {
    max-width: $desktop;
    padding: 0 2.9rem;
  }
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  text-align: center;
}

h1 {
  font-size: 1.85rem;

  @include mobile-l {
    font-size: 2rem;
  }

  @include tablet {
    font-size: 2.25rem;
  }

  @include laptop {
    font-size: 2.5rem;
  }
}

h2 {
  font-size: 1.5rem;

  @include mobile-l {
    font-size: 1.75rem;
  }

  @include tablet {
    font-size: 2rem;
  }

  @include laptop {
    font-size: 2.25rem;
  }
}

h3 {
  font-size: 1.25rem;

  @include mobile-l {
    font-size: 1.5rem;
  }

  @include tablet {
    font-size: 1.6rem;
    grid-column-end: 7;
  }

  @include laptop {
    font-size: 1.75rem;
  }
}

p {
  font-size: 0.9rem;
  line-height: 1.25;

  @include mobile-l {
    font-size: 1rem;
  }

  @include tablet {
    font-size: 1.2rem;
  }

  @include laptop {
    font-size: 1.4rem;
  }
}
