@use "./variables" as *;
@use "./mixins" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-size: 20px 20px;
  background-image: linear-gradient(to right, $grid-line 1px, transparent 1px),
    linear-gradient(to bottom, $grid-line 1px, transparent 1px);
  background-color: $primary-background;

  @include mobile-m {
    background-size: 22px 22px;
  }

  @include mobile-l {
    background-size: 25px 25px;
  }
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
