@use "./variables" as *;
@use "./mixins" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(to right, $grid-line 1px, transparent 1px),
    linear-gradient(to bottom, $grid-line 1px, transparent 1px);
  background-position-x: center;
  background-color: $primary-background;

  background-size: $mobile-s-grid $mobile-s-grid;

  @include mobile-m {
    background-size: $mobile-m-grid $mobile-m-grid;
  }

  @include mobile-l {
    background-size: $mobile-l-grid $mobile-l-grid;
  }

  @include tablet {
    background-size: $tablet-grid $tablet-grid;
  }

  @include laptop {
    background-size: $laptop-grid $laptop-grid;
  }
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  text-align: center;
}

h1 {
  font-size: 1.85rem;

  @include mobile-l {
    font-size: 2rem;
  }

  @include tablet {
    font-size: 2.25rem;
  }

  @include laptop {
    font-size: 2.5rem;
  }
}

h2 {
  font-size: 1.5rem;

  @include mobile-l {
    font-size: 1.75rem;
  }

  @include tablet {
    font-size: 2rem;
  }

  @include laptop {
    font-size: 2.25rem;
  }
}

h3 {
  font-size: 1.25rem;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 8;

  @include mobile-l {
    font-size: 1.5rem;
  }

  @include tablet {
    font-size: 1.6rem;
    grid-column-end: 7;
  }

  @include laptop {
    font-size: 1.75rem;
  }
}

p {
  font-size: 0.9rem;
  line-height: 1.4;

  @include mobile-l {
    font-size: 1rem;
  }

  @include tablet {
    font-size: 1.2rem;
  }

  @include laptop {
    font-size: 1.4rem;
  }
}
