$mobile-m: 375px;
$mobile-l: 425px;
$tablet: 768px;
$laptop: 1024px;
$desktop: 1280px;

$mobile-s-grid: 20px;
$mobile-m-grid: 22px;
$mobile-l-grid: 25px;
$tablet-grid: 32px;
$laptop-grid: 36px;

$primary-background: #fff4e5;
$primary: #988a7b;
$grid-line: rgba(152, 138, 123, 0.5);
$secondary: #acbebe;
$accent: #9398aa;
