.container {
  background-color: black;
  width: 10rem;
  height: 5rem;
  border-radius: 10px;
  margin: 1rem;
  color: white;

  display: grid;
  align-items: center;
  justify-content: center;

  &:hover {
    height: 7.5rem;
    width: 15rem;
  }
}
