@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.buttons {
  grid-column-start: 1;
  grid-column-end: 16;

  @include mobile-l {
    grid-column-end: 17;
  }

  @include tablet {
    padding: 1.4rem 0;
  }

  &__index {
    background-color: $grid-line;
    height: 1rem;
    width: 1rem;
    border-radius: 1rem;

    &--active {
      background-color: $primary;
    }
  }

  &__icon {
    height: 1rem;
  }
}
