@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.about {
  display: grid;
  grid-template-rows: repeat(25, 20px);

  @include mobile-m {
    grid-template-rows: repeat(22, 22px);
  }

  @include mobile-l {
    grid-template-rows: repeat(22, 25px);
  }

  @include tablet {
    grid-template-rows: repeat(21, 32px);
    padding-left: 2rem;
  }

  @include laptop {
    grid-template-rows: repeat(18, 36px);
    padding-left: 2.25rem;
  }

  @include laptop {
    grid-template-rows: repeat(16, 36px);
  }

  &__content {
    display: grid;
    align-items: center;
    background-color: $primary-background;
    border-top: solid $grid-line 1px;
    border-left: solid $grid-line 1px;
    height: 100%;
    width: 100%;
    font-size: 0.9rem;
    padding: 0 0.55rem;
    grid-row-start: 1;
    grid-row-end: 18;
    line-height: 1.25;

    @include mobile-m {
      border-right: solid $grid-line 1px;
      grid-row-end: 15;
    }

    @include mobile-l {
      font-size: 1rem;
    }

    @include tablet {
      font-size: 1.2rem;
      padding: 0 0.75rem;
      border-right: none;
    }

    @include laptop {
      font-size: 1.4rem;
      grid-row-end: 12;
    }

    @include desktop {
      grid-row-end: 10;
    }
  }
}
