@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.contact {
  display: grid;
  justify-content: center;

  &__container {
    display: grid;
    grid-template-rows: repeat(4, $mobile-s-grid);
    grid-template-columns: repeat(30, calc($mobile-s-grid / 2));

    @include mobile-m {
      grid-template-rows: repeat(4, $mobile-m-grid);
      grid-template-columns: repeat(30, calc($mobile-m-grid / 2));
    }

    @include mobile-l {
      grid-template-rows: repeat(4, $mobile-l-grid);
      grid-template-columns: repeat(30, calc($mobile-l-grid / 2));
    }

    @include tablet {
      grid-template-rows: repeat(10, $tablet-grid);
      grid-template-columns: repeat(18, calc($tablet-grid / 2));
    }

    @include laptop {
      grid-template-rows: repeat(10, $laptop-grid);
      grid-template-columns: repeat(18, calc($laptop-grid / 2));
    }
  }

  &__link {
    display: grid;
    justify-items: center;
    grid-row-start: 1;
    grid-row-end: 3;
    width: calc($mobile-s-grid * 3);

    @include mobile-m {
      width: calc($mobile-m-grid * 3);
    }

    @include mobile-l {
      width: calc($mobile-l-grid * 3);
    }

    @include tablet {
      height: calc($tablet-grid * 3);
    }

    @include laptop {
      height: calc($laptop-grid * 3);
    }

    &--email {
      grid-column-start: 4;

      @include tablet {
        grid-row-start: 1;
        grid-row-end: 4;
      }
    }

    &--in {
      grid-column-start: 13;

      @include tablet {
        grid-row-start: 4;
        grid-row-end: 7;
      }
    }

    &--git {
      grid-column-start: 22;

      @include tablet {
        grid-row-start: 7;
        grid-row-end: 10;
      }
    }

    @include tablet {
      grid-column-start: 8;
      grid-column-end: 11;
    }
  }

  &__icon {
    margin: 0.25rem;
    height: calc($mobile-s-grid * 2 - 0.5rem);

    @include mobile-m {
      height: calc($mobile-m-grid * 2 - 0.5rem);
    }

    @include mobile-l {
      height: calc($mobile-l-grid * 2 - 0.5rem);
    }

    @include tablet {
      height: calc($tablet-grid * 2 - 0.5rem);
    }

    @include laptop {
      height: calc($laptop-grid * 2 - 0.5rem);
    }

    &--in {
      width: calc($mobile-s-grid * 3 / 2);

      @include mobile-m {
        width: calc($mobile-m-grid * 3 / 2);
      }

      @include mobile-l {
        width: calc($mobile-l-grid * 3 / 2);
      }

      @include tablet {
        width: calc($tablet-grid * 3 / 2);
      }

      @include laptop {
        width: calc($laptop-grid * 3 / 2);
      }
    }
  }
}
