@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.contact {
  display: grid;
  grid-template-rows: repeat(4, $mobile-s-grid);
  grid-template-columns: repeat(30, calc($mobile-s-grid / 2));

  @include mobile-m {
    grid-template-rows: repeat(4, $mobile-m-grid);
    grid-template-columns: repeat(30, calc($mobile-m-grid / 2));
  }

  @include mobile-l {
    grid-template-rows: repeat(4, $mobile-l-grid);
    grid-template-columns: repeat(30, calc($mobile-l-grid / 2));
  }

  @include tablet {
    grid-template-rows: repeat(10, $tablet-grid);
    grid-template-columns: repeat(18, calc($tablet-grid / 2));
  }

  &__title {
    @include text-box;
    padding-left: 0.25rem;
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 10;
  }

  &__link {
    display: grid;
    justify-items: center;
    grid-row-start: 2;
    grid-row-end: 4;
    width: 100%;

    &--email {
      grid-column-start: 5;

      @include tablet {
        grid-row-start: 2;
        grid-row-end: 5;
      }
    }

    &--in {
      grid-column-start: 14;

      @include tablet {
        grid-row-start: 5;
        grid-row-end: 8;
      }
    }

    &--git {
      grid-column-start: 23;

      @include tablet {
        grid-row-start: 8;
        grid-row-end: 11;
      }
    }

    @include tablet {
      grid-column-start: 8;
      grid-column-end: 11;
    }
  }

  &__icon {
    margin: 0.25rem;
    aspect-ratio: 1/1;
    height: calc($mobile-s-grid * 2 - 0.5rem);

    @include mobile-m {
      height: calc($mobile-m-grid * 2 - 0.5rem);
    }

    @include mobile-l {
      height: calc($mobile-l-grid * 2 - 0.5rem);
    }

    @include tablet {
      height: calc($tablet-grid * 2 - 0.5rem);
    }

    @include laptop {
      height: calc($laptop-grid * 2 - 0.5rem);
    }
  }
}
