.header {
  display: grid;
  width: 70vw;
  background-color: yellow;
  border-radius: 50rem;

  &__link {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: pink;
    display: grid;
    color: white;
  }
}
