@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.nav-bar {
  display: grid;
  grid-row-start: 6;
  grid-row-end: 8;
  grid-template-columns: repeat(2, 50%);

  @include tablet {
    grid-template-rows: repeat(6, $tablet-grid);
    grid-row-end: 11;
  }

  @include laptop {
    grid-template-rows: repeat(6, $laptop-grid);
    grid-row-end: 11;
  }

  &__link {
    @include text-box;
    text-align: center;
    font-size: 1.25rem;

    @include mobile-l {
      font-size: 1.5rem;
    }

    @include tablet {
      font-size: 1.6rem;
      grid-column-start: 1;
      grid-column-end: 3;
      margin-bottom: $tablet-grid;
    }

    @include laptop {
      font-size: 1.75rem;
    }

    &--about {
      border-right: none;

      @include tablet {
        grid-row-start: 1;
        grid-row-end: 3;
      }
    }

    &--projects {
      @include tablet {
        grid-row-start: 4;
        grid-row-end: 6;
      }
    }
  }
}
