@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.gallery {
  &__direction {
    position: absolute;

    &--project {
      top: 35%;
    }

    &--prev {
      left: -2%;
    }

    &--next {
      right: -2%;
    }

    &--image-prev {
      left: 0.5%;
    }

    &--image-next {
      right: 0.5%;
    }
  }
  &__icon {
    &--project {
      height: 4vh;
    }

    &--image {
      height: 1.25rem;
    }
  }

  &__buttons {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    &--project {
      bottom: 4.1%;

      @include mobile-l {
        bottom: 4.5%;
      }

      @include tablet {
        bottom: 4.8%;
      }

      @include laptop {
        bottom: 4.6%;
      }
    }

    &--image {
      bottom: 2%;

      @include mobile-l {
        bottom: 1%;
      }
    }
  }

  &__index {
    border: 2px solid $primary;
    border-radius: 12px;

    margin: 0.125rem;

    @include mobile-m {
      margin: 0.175rem;
    }

    @include mobile-l {
      margin: 0.225rem;
    }

    @include tablet {
      margin: 0.35rem;
    }

    @include laptop {
      margin: 0.4rem;
    }

    &--project {
      height: 1rem;
      width: 1rem;

      @include mobile-l {
        height: 1.1rem;
        width: 1.1rem;
      }

      @include tablet {
        height: 1.25rem;
        width: 1.25rem;
      }

      @include laptop {
        height: 1.5rem;
        width: 1.5rem;
      }
    }

    &--image {
      height: 0.75rem;
      width: 0.75rem;
    }

    &--active {
      background-color: $primary;
    }
  }
}
