@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.projects {
  position: relative;
  display: grid;
  justify-items: center;
  grid-template-rows: repeat(25, $mobile-s-grid);
  grid-template-columns: repeat(15, $mobile-s-grid);

  @include mobile-m {
    grid-template-rows: repeat(24, $mobile-m-grid);
    grid-template-columns: repeat(15, $mobile-m-grid);
  }

  @include mobile-l {
    grid-template-rows: repeat(22, $mobile-l-grid);
    grid-template-columns: repeat(15, $mobile-l-grid);
  }

  @include tablet {
    grid-template-rows: repeat(21, $tablet-grid);
    grid-template-columns: repeat(13, $tablet-grid);
    margin-left: $tablet-grid;
    grid-column: 2;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  @include laptop {
    grid-template-rows: repeat(21, $laptop-grid);
    grid-template-columns: repeat(17, $laptop-grid);
    margin-left: $laptop-grid;
  }

  @include desktop {
    grid-template-columns: repeat(17, $laptop-grid);
    margin-left: calc($laptop-grid * 4);
    margin-right: calc($laptop-grid * 3);
  }
}
