@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.projects {
  display: grid;
  grid-template-rows: repeat(24, $mobile-s-grid);
  grid-template-columns: repeat(15, $mobile-s-grid);
  margin-bottom: $mobile-s-grid;

  @include mobile-m {
    grid-template-rows: repeat(24, $mobile-m-grid);
    grid-template-columns: repeat(15, $mobile-m-grid);
    margin-bottom: $mobile-m-grid;
  }

  @include mobile-l {
    grid-template-rows: repeat(24, $mobile-l-grid);
    grid-template-columns: repeat(15, $mobile-l-grid);
    margin-bottom: $mobile-l-grid;
  }

  @include tablet {
    grid-template-rows: repeat(21, $tablet-grid);
    grid-template-columns: repeat(13, $tablet-grid);
    margin-bottom: $tablet-grid;
    margin-left: $tablet-grid;
  }

  &__buttons {
    justify-self: center;
    grid-column-start: 1;
    grid-column-end: 16;
    grid-row-start: 24;
    grid-row-end: 25;

    @include mobile-l {
      grid-column-end: 17;
    }

    @include tablet {
      grid-row-start: 20;
      grid-row-end: 22;
      padding: 1.4rem 0;
    }
  }
}
