@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.headline {
  display: grid;
  grid-template-rows: repeat(8, $mobile-s-grid);

  @include mobile-m {
    grid-template-rows: repeat(8, $mobile-m-grid);
  }

  @include mobile-l {
    grid-template-rows: repeat(8, $mobile-l-grid);
  }

  @include tablet {
    grid-template-rows: repeat(11, $tablet-grid);
  }

  @include laptop {
    grid-template-rows: repeat(11, $laptop-grid);
  }

  &__title,
  &__subtitle {
    @include text-box;
    color: $accent;
  }

  &__title {
    grid-row-start: 1;
    grid-row-end: 3;
  }

  &__subtitle {
    grid-row-start: 3;
    grid-row-end: 5;
  }
}
